<div class="fixed-action-btn" style="bottom: 45px; right: 45px;">
  <a class="btn-floating btn-large waves-effect waves-light red" style="margin-left: 10px; "
     linkTo="/hotels/new">
    <i class="material-icons">add</i>
  </a>
</div>

<div class="row">
  <div class="input-field col m10 offset-m2">
      <i class="material-icons prefix">search</i>
      <input id="icon_prefix" type="text" class="validate" #filterInput (keyup)="0">
      <label for="icon_prefix">Search by name, desc or city</label>
  </div>
</div>
<div class="row">
  <div class="col m2">
    <div class="row">
      <div class="input-field">
        <select multiple materialize="material_select" [materializeSelectOptions]="countries"
                (change)="change($event.target.options)">
          <option value="" disabled selected>Choose countries</option>
          <option *ngFor="let country of countries" [value]="country.value">{{country.name}}</option>
        </select>
        <label>Countries</label>
      </div>
    </div>
    <br>
    <div class="row">
      <p>Price range</p>
      <p class="range-field">
        <input type="range" id="priceRange" min="0" max="100"/>
      </p>
    </div>
  </div>
  <div class="col m10">
      <table class="responsive-table striped bordered">
        <thead>
          <tr>
            <th>Info</th>
            <th>Name</th>
            <th>City</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let hotel of hotels | async | hotelFilter:filterInput.value | countryFilter:selectedValues">
          <td>
            <a href="{{hotel.website}}" target="_blank">
              <i class="small material-icons">language</i>
            </a>
            <a *ngIf="hotel.tripAdvisorUrl" href="{{hotel.tripAdvisorUrl}}" target="_blank">
              <i class="small material-icons">star</i>
            </a>
          </td>
          <td><a [linkTo]="'/hotels/' + hotel.id">{{hotel.name}}</a></td >
          <td>{{hotel.city}}</td>
          <td>{{hotel.countryCode}}</td>
        </tr>
      </table>
  </div>
</div>
