<div class="row">
  <div class="col m12 valign-wrapper">
    <span class="camp-header">Hotels</span>
    <a class="btn-floating btn waves-effect waves-light red" style="margin-left: 10px; "
       linkTo="/hotels/new">
      <i class="material-icons">add</i>
    </a>
  </div>
</div>
<div class="row">
  <div class="col m3 offset-m2">
    <input type="text" placeholder="Hotelfilter" #filterInput (keyup)="0"/>
  </div>
</div>

<div class="row">
  <div class="col m2">
    <div class="row">
      <div class="input-field">
        <select multiple materialize="material_select" [materializeSelectOptions]="countries"
                (change)="change($event.target.options)">
          <option value="" disabled selected>Choose countries</option>
          <option *ngFor="let country of countries" [value]="country.value">{{country.name}}</option>
        </select>
        <label>Countries</label>
      </div>
    </div>
    <br>
    <div class="row">
      <p>Price range</p>
      <p class="range-field">
        <input type="range" id="priceRange" min="0" max="100"/>
      </p>
    </div>
  </div>
  <div class="col m10 s12">
    <div class="card-panel">
      <table class="responsive-table striped">
        <tbody>
        <tr *ngFor="let hotel of hotels | async | hotelFilter:filterInput.value">
          <td><a [linkTo]="'/hotels/' + hotel.id">{{hotel.name}}</a></td>
          <td>{{hotel.city}}</td>
          <td>{{hotel.countryCode}}</td>
          <td><a href="{{hotel.website}}" target="_blank">{{hotel.website}}</a></td>
          <td><a href="{{hotel.tripAdvisorUrl}}" target="_blank">Trip advisor</a></td>
          <td>{{hotel.rooms}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

