<div class="row" *ngIf="hotel">

  <div class="col s6 m6 center-align">
    <div class="card">
      <div class="card-image">
        <img src="http://vjz.werbstatt.info/uploads/pics/aussicht_wald_see.jpg">
        <span class="card-title">{{hotel.name}}</span>
      </div>
      <div class="card-content left-align">
        <p>This is a description: {{hotel.description}}</p>
      </div>
      <div class="card-action">
        <a *ngIf="hotel.website" href="{{hotel.website}}" target="_blank">Website</a>
        <a *ngIf="hotel.contactEmail" href="mailto://{{hotel.contactEmail}}">Email</a>
        <a *ngIf="hotel.tripAdvisorUrl" href="{{hotel.tripAdvisorUrl}}" target="_blank">Trip Advisor</a>
        <a *ngIf="hotel.holidayCheckUrl" href="{{hotel.holidayCheckUrl}}" target="_blank">Holiday Check</a>
      </div>
    </div>
  </div>

  <div class="col s6 m6 center-align">
    <div class="card">
      <div class="card-content left-align">
        <h3>Infos</h3>
        <div class="section">
          <h5>Address</h5>
          <p>{{hotel.name}}</p>
          <p>{{hotel.street}} {{hotel.streetNumber}}</p>
          <p>{{hotel.countryCode}}-{{hotel.zipCode}} {{hotel.city}}</p>
        </div>
        <div class="section">
          <p>Number of rooms: {{hotel.rooms}}</p>
        </div>
      </div>
    </div>
  </div>


  <div class="fixed-action-btn" style="bottom: 45px; right: 45px;">
    <a [linkTo]="'/hotels/new'" class="btn-floating btn-large blue">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a materialize="leanModal" [materializeParams]="[{dismissible: true}]" class="btn-floating red modal-trigger"
             href="#modal1"><i class="material-icons">delete</i></a></li>
    </ul>
  </div>

  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Delete Hotel?</h4>
      <p>Do you really want to delete the hotel "{{hotel.name}}"?</p>
    </div>
    <div class="modal-footer">
      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
      <a (click)="deleteHotel()" class=" modal-action modal-close waves-effect waves-green btn-flat">Delete</a>
    </div>
  </div>

</div>
<div class="row" *ngIf="hotel">
  <div class="col s6 m6 center-align">
    <div class="card">
      <div class="card-content left-align">
        <h3>Map</h3>
        <map></map>
      </div>
    </div>
  </div>
</div>
