<div class="row">
  <form materialize class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="hotelName" type="text" class="validate" required [(ngModel)]="hotel.name">
        <label for="hotelName">Name</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="website" type="text" class="validate" [(ngModel)]="hotel.website">
        <label for="website">Website</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" [(ngModel)]="hotel.contactEmail">
        <label for="email">Email</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea id="description" class="materialize-textarea" [(ngModel)]="hotel.description"></textarea>
        <label for="description">Description</label>
      </div>
    </div>

    <!-- Adresss block -->
    <div class="section">
      <h5>Address</h5>
      <div class="row">
        <div class="input-field col s10">
          <input id="street" type="text" class="validate" [(ngModel)]="hotel.street">
          <label for="street">Street</label>
        </div>
        <div class="input-field col s2">
          <input id="streetNumber" type="text" class="validate" [(ngModel)]="hotel.streetNumber">
          <label for="streetNumber">Number</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s4">
          <input id="zipCode" type="text" class="validate" [(ngModel)]="hotel.zipCode">
          <label for="zipCode">Zip code</label>
        </div>

        <div class="input-field col s8">
          <input id="city" type="text" class="validate" required [(ngModel)]="hotel.city">
          <label for="city">City</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s4">
          <select materialize="material_select" [materializeSelectOptions]="countries | async" [(ngModel)]="hotel.countryCode">
            <option value="" disabled selected>Select country</option>
            <option *ngFor="let country of countries | async" [value]="country.code">{{country.name}}</option>
          </select>
          <label>Country</label>
        </div>
      </div>
    </div>

    <div class="section">
      <h5>External information</h5>
      <div class="row">
        <div class="input-field col s6">
          <input id="tripAdvisorUrl" type="text" class="validate" [(ngModel)]="hotel.tripAdvisorUrl">
          <label for="tripAdvisorUrl">Trip Advisor</label>
        </div>
        <div class="input-field col s6">
          <input id="holidayCheckUrl" type="text" class="validate" [(ngModel)]="hotel.holidayCheckUrl">
          <label for="holidayCheckUrl">Holiday check</label>
        </div>
      </div>
    </div>


    <div class="row">
      <button class="btn waves-effect waves-light" type="submit" name="action"
        (click)="saveHotel()">Save
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>
